body {
  background-image: url('https://cdn.discordapp.com/attachments/1242996099527082004/1244401427518984344/IMG_4222.jpg?ex=6654faa4&is=6653a924&hm=b9487e0afb5019b91ea41dfe68cb15c8626d81142512eff97643bc530c9681f9&');
  background-size: 50% 50%; /* Tamanho da imagem (largura altura) */
  background-repeat: no-repeat;
  background-position: center center; /* Centraliza a imagem */
  margin: 0; /* Remove a margem padrão do corpo */
  padding: 0; /* Remove o preenchimento padrão do corpo */
}

.widget-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}